.locations {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
	.locations {
		gap: 100px;
	}
}
