.values {
	margin-top: 70px;
	margin-left: 20px;
	margin-right: 20px;
}

@media only screen and (min-width: 768px) {
	.values {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media only screen and (min-width: 1280px) {
	.values {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
