header {
	background-color: #282c34;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	color: white;

	.header-nav-wrapper {
		.btn-header-menu {
			border: none;
			background: transparent;
		}
	}
}

@media only screen and (min-width: 768px) {
	header {
		padding: 20px 5px;

		.btn-header-menu {
			display: none;
		}
	}
}

@media only screen and (min-width: 1280px) {
	.header-logo {
		cursor: pointer;
	}
}
