.navbar {
	background-color: var(--black);
	text-align: start;
	padding: 20px 0 20px 20px;

	ul {
		list-style: none;
		li {
			margin: 20px;
		}
	}

	.navbar-link {
		padding: 10px;
		font-size: 24px;
		letter-spacing: 2px;
		text-decoration: none;
		color: var(--white);

		&.active {
			text-decoration: underline;
		}
	}
}

header .navbar {
	display: none;
}

.menu .navbar {
	display: block;
}

@media only screen and (min-width: 768px) {
	.navbar {
		background-color: transparent;
		padding: 0;

		ul {
			display: flex;
			list-style: none;
			gap: 10px;
			li:last-of-type {
				margin-right: 0;
				.navbar-link {
					padding-right: 0;
				}
			}

			.navbar-link {
				cursor: pointer;
				text-decoration: none;
				color: var(--dark-grey);
				font-size: 14px;
				line-height: 14px;
			}
		}
	}

	header .navbar {
		display: block;
	}
}

@media only screen and (min-width: 1024px) {
	.navbar .navbar-link:hover {
		text-decoration: underline;
	}
}
